* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.screenV {
  width: 800px;
  height: 480px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.home_Button:hover{
  cursor: pointer;
}


#home_Button {
  width: 74px;
  height: 41px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 290px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

button{
  border: none;
  cursor: pointer;
}
.Title_Cake {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 34px;
  font-family: Helvetica Neue;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
#Steps1 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 34px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.change_button{
  cursor: pointer;
}

#NextR_button {
  width: 128px;
  height: 46px;
  background: rgba(255,184,45,1);
  opacity: 1;
  position: absolute;
  top: 413px;
  left: 197px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.NextR_button_text {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 421px;
  left: 195px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

#PreviousR_button {
  visibility: hidden;
  width: 128px;
  height: 46px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 50px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.PreviousR_button_text {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 418px;
  left: 48px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.Add_text {
  width: 368px;
  color: #00CC2C;
  position: absolute;
  top: 187px;
  left: 4px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
#Step_description {
  width: 368px;
  position: absolute;
  top: 220px;
  left: 4px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.right_grey {
  width: 400px;
  height: 480px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 400px;
  overflow: hidden;
}

.v1_39 {
  width: 291px;
  height: 298px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 463px;
  border-radius: 50%;
}

.donut-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
}

.ring {
  position: absolute;
  width: 50%;
  height: 50%;
}

#q2 {
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,1);
  border-radius: 100% 0 0 0;
}

#q1 {
  top: 0;
  right: 0;
  background-color: #00CC2C;
  border-radius: 0 100% 0 0;
}

#q3 {
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,1);
  border-radius: 0 0 0 100%;
}

#q4 {
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,1);
  border-radius: 0 0 100% 0;
}

.cutout {
  width: 82%;
  height: 82%;
  background-color: rgba(245,245,245,1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}


#popup {
  visibility: visible;
  width: 700px;
  height: 420px;
  background: rgba(245,245,245,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 30px;
  left: 50px;
  display: inline-block;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem rgb(118, 118, 118));
  /* background-color: rgba(245,245,245,0.8);
  backdrop-filter: blur(20px); */

}


#ready_button{
  cursor: pointer;
}

#Ready_button {

  width: 128px;
  height: 46px;
  background: rgba(255,184,45,1);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#Ready_button_text {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

#Done_button {
  visibility: hidden;
  width: 128px;
  height: 46px;
  background: rgba(255,184,45,1);
  opacity: 1;
  position: absolute;
  top: 413px;
  left: 197px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#start_button {
  visibility: visible;
  width: 128px;
  height: 46px;
  background: rgba(255,184,45,1);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#popup_desc {

  
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}